@{
    ViewData["Title"] = "Home Page";
}

<div class="imagenn">
    <div class="imagenn-text">
        <h1>Lideramos el desarrollo energético de Argentina</h1>
        <p>Construimos el Gasoducto Presidente Néstor Kirchner, la obra de infraestructura energética que conecta Vaca Muerta con el resto del país, ampliando un 30% la capacidad de transporte de gas natural.</p>
        <div class="buttons">
            <a href="#" class="btn btn-primary">Ver proyecto</a>
            <a href="#" class="btn btn-secondary">Conoce lo que hacemos</a>
        </div>
    </div>
</div>

